<?xml version="1.0" encoding="utf-8"?>
<!-- https://docs.microsoft.com/en-us/iis/configuration/ -->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 
        https://docs.microsoft.com/en-us/iis/configuration/system.webserver/security/requestfiltering/requestlimits/

        uint maxAllowedContentLength
        Задает максимальную длину содержимого в запросе в байтах.
        Значение по умолчанию - 30000000, что составляет приблизительно 28,6 МБ.

        uint maxQueryString
        Задает максимальную длину строки запроса в байтах.
        Значение по умолчанию: 2048.

        uint maxUrl
        Задает максимальную длину URL в байтах.
        Значение по умолчанию: 4096.
        -->
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <!-- другие настройки... -->
  </system.webServer>
</configuration>