.root {
    /*display:flex;
    flex-direction:row;
    padding-top: 0;*/ /* space for the top nav bar  padding-top: 60px;*/
    margin-top:0;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 0;
    padding:0;
/*    margin-left: 30px;*/
}
